.container {
    margin: 50px auto;
    text-align: center;
    width: 1360px;
}

.tabel {
    margin: 20px;
    text-align: center;
    font-size: 18px;
    border-collapse: collapse;
    border: 3px solid black;
    background-color: white;
    width: 100%;
  }
  
  .tabel td, .tabel th {
    border: 1px solid white;
    padding: 5px;
    height: 50px;
    width: fit-content;
  }
  
  .tabel th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:blue;
    color: black;
    height: 50px;
  }

  .tabel tr:nth-child(even){
    background-color: lightblue;
  }

.tambahData {
  margin: auto;
  text-align: center;
  width: 640px;
  border: 1px solid black;
  font-size: 24px;
}

button {
  display: inline-block;
  font-size: 18px;
  border-radius: 10px;
  margin: 8px;
}

button:hover {
  background-color: red;
}

input[type=text] {
  font-size: 20px;
  width: auto;
  padding: 10px;
  margin: 10px 20px;
  border-radius: 10px;
}

label {
  font-size: 20px;
  font-weight: bold;
}